* {
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
}

.main-header {
  background: #2ddf5c;
  padding: 8px 16px;
  width: 100%;
}

.main-header a {
  color: #0e4f1f;
  font-weight: bold;
  text-decoration: none;
}

.main-header > div {
  display: inline-block;
  vertical-align: middle;
}

.main-header__brand {
  font-size: 22px;
}

.main-nav {
  display: inline-block;
  text-align: right;
  vertical-align: middle;
  width: calc(100% - 73px);
}

.main-nav__items {
  list-style: none;
  margin: 0;
  padding: 0;
}

.main-nav__item {
  display: inline-block;
  margin: 0 16px;
}

.main-nav__item a:active,
.main-nav__item a:hover {
  color: white;
  border-bottom: 3px white solid;
}

.main-nav__item--cta a {
  background: #ff1b68;
  border-radius: 8px;
  color: white;
  padding: 8px 16px;
}

.main-nav__item--cta a:active,
.main-nav__item--cta a:hover {
  background: white;
  border: none;
  color: #ff1b68;
}

#product-overview {
  background: url('freedom.jpg');
  height: 528px;
  padding: 10px;
  width: 100%;
}

#product-overview h1 {
  color: white;
  font-family: 'Anton', sans-serif;
}

.section-title {
  color: #2ddf5c;
  text-align: center;
}

.plan {
  background: #d5ffdc;
  display: inline-block;
  margin: 8px;
  padding: 16px;
  text-align: center;
  vertical-align: middle;
  width: 30%;
}

.plan--highlighted {
  background: #19b84c;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);
  color: white;
}
