html {
  height: 100%;
}

body {
  height: 100%;
}

div:last-of-type:hover {
  border: 3px white solid;
  background: gold;
}

.box {
  border: 3px gold solid;
  display: inline-block;
  margin: 10px 20px 30px 40px;
  padding: 40px 30px 20px 10px;
}

#box1 {
  height: 300px;
  visibility: hidden;
  width: 50%;
}
