.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 5rem minmax(1rem, 10rem);
  margin: 20px;
}

.el1 {
  background: rgba(255, 154, 72, 0.5);
}

.el2 {
  background: rgba(255, 0, 0, 0.5);
}

.el3 {
  background: rgba(0, 128, 0, 0.5);
  grid-column-end: span 3;
  grid-column-start: 2;
  grid-row-end: span 2;
  grid-row-start: 1;
}

.el4 {
  background: rgba(0, 4, 255, 0.5);
}
