.plans-background {
  background: url('../assets//plans-background.jpg');
  height: 100%;
  position: fixed;
  width: 100%;
  z-index: -1;
}

main {
  padding-top: 32px;
}

.package {
  border: 4px #0e4f1f solid;
  border-left: none;
  margin: 16px 0;
  position: relative;
  width: 80%;
}

.package:active,
.package:hover {
  border-color: #ff5454;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.package a {
  color: inherit;
  display: block;
  padding: 32px;
  text-decoration: none;
}

#plus-plan {
  background: rgba(213, 255, 220, 0.95);
}

#free-plan {
  background: rgba(234, 252, 237, 0.95);
  border-left: 4px #0e4f1f solid;
  border-right: none;
  float: right;
  text-align: right;
}

#free-plan:active,
#free-plan:hover {
  border-color: #ff5454;
}

#premium-plan {
  background: rgba(14, 79, 31, 0.95);
}

.package__title {
}

.package__badge {
  background: #ff5454;
  color: white;
  font-size: 12px;
  margin: 20px;
  padding: 10px;
  position: absolute;
  right: 0;
  top: 0;
}

.package__subtitle {
  color: #999;
}

.package__info {
  background: white;
  border: 1px #0e4f1f solid;
  color: #0e4f1f;
  font-size: 20px;
  padding: 16px;
}

#premium-plan .package__title {
  color: white;
}

#premium-plan .package__subtitle {
  color: #bbb;
}

.floatfix {
  clear: both;
}
