html {
  height: 100%;
}

body {
  height: 100%;
  display: grid;
  height: 100%;
  grid-template-columns: 10rem 1fr;
  grid-template-rows: 5rem 1fr 5rem;
  grid-template-areas:
    'header header'
    'sidebar content'
    'footer footer';
}

#header {
  background: blue;
  grid-area: header;
}

#sidebar {
  background: yellow;
  grid-area: sidebar;
}

#content {
  background: red;
  grid-area: content;
}

#footer {
  background: green;
  grid-area: footer;
}
